.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.list {
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ddd;
}
